body {
    height: 1000vh;
    margin: 50px;
}

span {
    background-color: yellowgreen;
    padding: 5px;
    border-radius: 10px;
}

p span {
    color: white;
}

div > span {
    /* direct children */
    text-decoration: underline;
}

p + span {
    /* next element */
    color: tomato;
}
