:root {
    --main-color: #5f5d4d;
    --main-border: 1px solid var(--main-color);
}

body {
    height: 1000vh;
    margin: 50px;
}

div {
    margin: 10px 0px;
}

span {
    background-color: yellowgreen;
    padding: 5px;
    border-radius: 10px;
}

p span {
    /* child element */
    color: white;
}

div > span {
    /* direct child */
    text-decoration: underline;
}

p ~ span {
    /* just next element */
    color: violet;
}

p + span {
    /* immediately next element */
    color: tomato;
}

input {
    border: 1px solid wheat;
}

input:required {
    border-color: tomato;
}

input[placeholder~="name"] {
    background-color: thistle;
}

button:active {
    background-color: tomato;
}

button:hover {
    background-color: teal;
    border-radius: 10px;
}

button:focus {
    background-color: thistle;
}

a:visited {
    color: brown;
}

a:hover {
    color: turquoise;
}

form {
    border: 1px solid salmon;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

form:focus-within {
    border-color: seagreen;
    border-width: 3px;
}

form:hover input:focus {
    background-color: tomato;
}

input::placeholder {
    color: yellowgreen;
}

p::selection {
    background-color: yellow;
    color: brown;
}

p::first-letter {
    font-size: 50px;
    color: var(--main-color);
    border: var(--main-border);
}
