body {
    font-family: sans-serif;
    background-color: #2c3e50;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 10px 0px;
    color: #ccae62;
    text-align: center;
    font-size: 64px;
}

h2 {
    margin: 10px 0px;
    padding: 0px 20px;
    color: #f1ef4f;
    font-size: 48px;
    border-radius: 40px;
    border: 3px solid #2980b9;
}
